.navbar {
	.fa-search { position: relative; top: 23px; right: 25px; color: #777; }
	.form-group { margin-top: -5px; margin-bottom: 0; }
	.form-control { width: 300px; }
	.img-circle { margin-right: 5px; }
	.username { margin-right: 15px; }
	.caret { margin-left: 5px; }
	ul { font-size: em(14); }
}